  <script id="bootstrap-current-user" type="text/javascript">
  <% if logged_in? %>
  	window.currentUser = <%= render("api/users/user.json.jbuilder",
  		user: current_user).html_safe %>
  <% end %>

</script>

<script>
  window.logo ="<%= asset_path('logo.png') %>"
</script>

<script>
  window.backTo ="<%= asset_path('backTo.png') %>"
</script>



<div id="root">should not be visible</div>
