.back-to-img {
  width: 15px;
}

.back-link {
  text-decoration: none;
  opacity: .8;
  color: #F2F2F2;
}

.back-link:hover {
  color: white;
}

.about-link {
  color: white;
  text-decoration: none;
  opacity: .8;
}

.about-footer {
  z-index: 2;
  position: fixed;
  bottom: 30px;
  left: 30px;
}

.back-to-link {
  position: fixed;
  top: 10px;
  left: 0;
  padding: 10px;
}

.session-text {
  opacity: .8;
  color: #fff;
  text-align: center;
  font-size: 11px;
  letter-spacing: .03em;
  line-height: 28px;
  text-shadow: 1px 1px 0 rgba(0,0,0,.8);
}

.sign-in-img {
  position: relative;
  display: block;
  margin: 0 auto 90px;
  width: 250px;
  height: 75px;
  background: url(https://i.imgur.com/F6AHOiq.png) center no-repeat;
  background-size: contain;
}

::selection{
  background-color: #1bb76e;
  color: white;
}

input[type=text], input[type=password], textarea {
  background-color: #191919;
  outline: 0;
  box-sizing: border-box;
  padding: 5px 10px;
  font-size: .9em;
  line-height: 1.5em;
  resize: none;
  margin-bottom: 10px;
  letter-spacing: .02em;
  color: white;
  border-radius: 5px;
  cursor: text;
  text-rendering: auto;
  border: 1px solid #2C2F34;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  width: 320px;
  height: 32px;
  display: inline-block;
  text-align: start;
}

.br5 {
  background: #2C2F34;
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 8px;
  border-radius: 5px;
}

.need-account {
  color: white;
  text-decoration: none;
  opacity: .8;
}

.session-container {
  position: relative;
  display: block;
  margin: auto;
  width: 350px;
  padding-top: 80px;
  box-sizing: border-box;
}

.login-button {
  padding:10px 20px;
  background: #5c69ff;
  color: #F2F2F2;
  font-size: 14px;
  border:0 none;
  border-radius: 2px;
  padding-left: 25px;
  padding-top: 10px;
  padding-right: 25px;
  padding-bottom: 10px;
}

.need-account {
  padding-right: 15px;
  padding-left: 130px;
}

.form-footer {
  margin-top: 15px;
  display: block;
}
