.navbar-container{
  width: 100%;
  background-color: #34373c;
  height: 50px;
  position: relative;
  top: 0;
  display: inline-flex;
  align-content: center;
  margin: 0;
}

.navbar-container *{
  color: white;
}

.dropdown-left {
  display: flex;
}

.navbar-link{
  align-content: center;
  margin: 5px 10px;
  padding: 5px 0;
  height: 25px;
}

.navbar-link:hover{
  background: #50545c;
  border-radius: 20px;
}

.logout-link {
  align-content: center;
  padding: 5px 0;
  height: 25px;
  color: white;
  padding-bottom: 10px;
  text-decoration: none;
}

.logout-linkt:hover {
  background: #50545c;
  border-radius: 20px;
}

.navlink-btn {
  color: white;
  padding-bottom: 5px;
}

.navbar-main {
  width: 100%;
  background-color: #34373c;
  font-size: 15px;
  height: 50px;
  top: 0;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.icon-upload {
  background: url(https://i.imgur.com/L74TL1K.png) center no-repeat;
  background-size: contain;
}

.upload-btn {
  display: inline-block;
  justify-content: center;
  line-height: 150%;
  font-size: 14px;
  font-weight: 500;
  color: #f2f2f2;
  width: 129px;
  background: #1bb76e;
  border-radius: 3px;
}

.upload-button-text {
  margin: 4px;
}

.link-menu{
  display: flex;
  align-self: center;
}

.nav-left {
  width: 27%;
  display: flex;
  justify-content: space-around;
  align-content: center;
}

.hover-link {
  margin-top: 3px;
  margin-bottom: 3px;
}

.logo-link {
  background: url(https://i.imgur.com/F6AHOiq.png) center no-repeat;
  width: 72px;
  height: 46px;
  background-size: contain;
  margin: auto 12px;
}

.hover-link:hover{
  background: #50545c;
  border-radius: 25px;
  height: 85%
}


.upload-button {
  display: flex;
  width: inherit;
  justify-content: space-around;
  align-self: center;
  font-size: 14px;
}

.link-menu i{
  align-self: center;
  padding: auto 0;
}

.upload-button-container {
  position: relative;
    display: flex;
    width: 160px;
    margin: 9px 0px 9px 20px;
    border-radius: 4px;
    border: 1px solid #1bb76e;
    background: #1bb76e;
    cursor: pointer;
    padding: 0;
    vertical-align: baseline;
}

//
.nav-right {
  margin: auto 0;
  display: inline-flex;
  align-content: center;
  justify-content: space-between;
}
.user-nav {
  align-self: center;
  align-content: center;
}

.nav-right ul li {
  margin: 0;
  list-style: none;
    display: inline-flex;
    user-select: none;
    padding: 0;
    // position: relative;
}

.navlink-btn {
  margin: auto 20px;
  text-decoration: none;
}
