.nav {
  background-color: #34373c;
  height: 50px;
  display: flex;
  position: relative;
  font-size: 15px;
}

.home-link {
  height: auto;
  width: 83px;
  height: 34px;
  font-size: 30px;
  font-family: sans-serif;
  text-decoration: none;
  color: white;
}

.nav-link {
  color: white;
  font-family: sans-serif;
  text-decoration: none;
}

.nav-center {
  margin: 50px;
}

.secondary-nav {
  float: right;
  position: relative;
  margin-right: -15px;
}

.logo-link {
  background: url(https://i.imgur.com/F6AHOiq.png) center no-repeat;
  width: 72px;
  height: 46px;
  background-size: contain;
  margin: auto 12px;
}

.logo-link:hover {
  background-color: black;
  border-radius: 12px;
}
